@import "./colors.scss";

$pub-font:Public Sans;
@mixin sty-font {
    font: Public Sans;
    font-style: normal;
}

@mixin font-other{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@mixin asset-font{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

@mixin com-font {
    @include sty-font;
    @include font-other;
}

@mixin spec-font {
    @include sty-font;
    @include asset-font;
}

.p-font{
    position: static;
    width: 200px;
    height: 48px;
    left: calc(50% - 145px/2 - 107.5px);
    font: $pub-font;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: $p-color;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.p-font2{
    @include sty-font;
    @include font-other;
    color: $dora-grey;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 2px;
    position: static;
    width: 170px;
    height: 24px;
    top: 48px;
    flex: none;
    order: 1;
}

.p-doya{
    @include sty-font;
    color: $dora-grey;
    font-weight: 600;
    font-size: 24px;
}


.dora-ksm-font{
    /* Dora-KSM Parachain */
    width: 842px;
    height: 32px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #21212C;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.defalt-link{
    /* text */
    width: 466px;
    height: 24px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF6500;
    flex: none;
    order: 0;
    flex-grow: 0;
}
