.header-default {
    /* nav */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    position: absolute;
    height: 56px;
    left: 0px;
    right: 0px;
    top: 0px;
    /* basic/bg-primary */
    background: #ffffff;
    /* elevation/elevation-3 */
    box-shadow: 0px 16px 24px rgba(33, 33, 44, 0.02), 0px 8px 12px rgba(33, 33, 44, 0.02), 0px 6px 8px rgba(33, 33, 44, 0.02), 0px 4px 6px rgba(33, 33, 44, 0.03), 0px 0px 0.5px rgba(33, 33, 44, 0.08);
}

.nav-brand{
    /* nav-account */
    position: absolute;
    width: 160px;
    height: 56px;
    left: 24px;
    text-align: center;
    line-height: 56px;
    Font: Public Sans;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.0625em;
    text-transform: uppercase;

}

.nav-account {
    /* nav-account */
    position: absolute;
    width: 160px;
    height: 56px;
    right: 24px;
}

.wallet{
    /* connect-wallet */
    /* Auto layout */


    position: absolute;
    width: 152px;
    height: 36px;
    right: 0px;
    top: calc(50% - 36px/2);

    /* accent/accent-primary */

    background: #FF6500;
    border-radius: 999px;

    /*font*/
    font: Public Sans;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.text-default{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 1128px;
    height: 32px;
    left: calc(50% - 1128px/2);
    top: 104px;

    font: Public Sans;
}

.font1{
    /* extrabold/type-headline-eb */
    font: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #21212C;
    
}

.explorer-sty{
    color: #FF6500;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
}

.body{
    /* stats */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    width: 1176px;
    height: 216px;
    left: calc(50% - 1176px/2);
    top: 176px;

    /* basic/bg-primary */

    background: #FFFFFF;
    /* elevation/elevation-1 */

    box-shadow: 0px 3px 8px rgba(33, 33, 44, 0.06), 0px 1.5px 4px rgba(33, 33, 44, 0.06), 0px 1px 2px rgba(33, 33, 44, 0.06), 0px 0.5px 1px rgba(33, 33, 44, 0.06), 0px 0px 0.5px rgba(33, 33, 44, 0.08);
    border-radius: 8px;
}

.body-default{
    /* stats */
    /* Auto layout */
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 20px;
    grid-template-rows: 72px 72px 72px;
    position: static;
    width: 1128px;
    height: 168px;
    left: calc(50% - 1176px/2);
    top: 200px;
    padding: 24px;
}

.p-font{
    /* value */
    position: static;
    width: 200px;
    height: 48px;
    left: calc(50% - 145px/2 - 107.5px);
    top: 0px;

    /* tabular figures/type-display-eb--tnum */

    font: Public Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */

    font-feature-settings: 'tnum' on, 'lnum' on;

    /* basic/ink-primary */

    color: #21212C;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.p-font2{
    /* key */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 2px;

    position: static;
    width: 170px;
    height: 24px;
    left: 0px;
    top: 48px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    /* regular/type-body */

    font: Public Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* basic/ink-secondary */
    color: #7B7B9D;

}

.p-doya{
    /* tabular figures/type-display-eb--tnum */

    font: Public Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    /* identical to box height, or 200% */

    font-feature-settings: 'tnum' on, 'lnum' on;

    /* basic/ink-secondary */
    color: #7B7B9D;

}


.body-noacc{
    /* card-wallet */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 1176px;
    height: 144px;
    left: calc(50% - 1176px/2);
    top: 416px;

    /* basic/bg-primary */

    background: #FFFFFF;
    /* elevation/elevation-1 */

    box-shadow: 0px 3px 8px rgba(33, 33, 44, 0.06), 0px 1.5px 4px rgba(33, 33, 44, 0.06), 0px 1px 2px rgba(33, 33, 44, 0.06), 0px 0.5px 1px rgba(33, 33, 44, 0.06), 0px 0px 0.5px rgba(33, 33, 44, 0.08);
    border-radius: 8px;

}

.noacc-div{
    /* copy */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 657px;
    height: 72px;
    left: 24px;
    top: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 111px;
}

.noacc-p{
    /* title */
    position: absolute;
    width: 500px;
    height: 32px;
    left: 24px;
    top: 24px;
    /* extrabold/type-headline-eb */

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    /* basic/ink-primary */
    color: #21212C;
}

.noacc-p2{
    position: absolute;
    width: 760px;
    height: 48px;
    left: 24px;
    top: 72px;

    /* regular/type-body */

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    /* basic/ink-primary */
    color: #21212C;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.get-account{
    /* button */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 251px;
    height: 36px;
    right: 24px;
    top: calc(50% - 36px/2);

    /* accent/accent-primary */
    background: #FF6500;
    border-radius: 999px;
}

.foot{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;

    position: absolute;
    width: 100%;
    height: 56px;
    left: calc(50% - 1176px/2 - 1px);
    top: 460px;
    /* footer */
    position: absolute;
    height: 56px;
    left: 0px;
    right: 0px;
    top: 744px;

    /* basic/bg-secondary */

    background: #F6F6F8;
}

.foot-font{
    position: static;
    height: 20px;
    left: 0px;
    top: 0px;
    /* regular/type-note */
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* basic/ink-secondary */

    color: #7B7B9D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 14px;
}


.tb-row{
    height: 48px;
    background-color: #FF6500
}


.tab-sty{
    /* tabs */
    /* Auto layout */
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px; */

    position: absolute;
    width: 247px;
    height: 56px;
    left: 1000px;
    top: 0px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 317px;
}


.select-bd{
    /* nav-account */
    position: absolute;
    width: 160px;
    height: 56px;
    left: 1256px;
    top: 0px;
}

.select-dw{
    /* connect-wallet */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 14px 2px 18px;

    position: static;
    width: 141px;
    height: 36px;
    right: 0px;
    top: calc(50% - 36px/2);

}