/*************************
 * Webfonts
 *************************/
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("PublicSans-Regular.woff2?v=2.001") format("woff2"), url("PublicSans-Regular.woff?v=2.001") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("PublicSans-SemiBold.woff2?v=2.001") format("woff2"), url("PublicSans-SemiBold.woff?v=2.001") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("PublicSans-ExtraBold.woff2?v=2.001") format("woff2"), url("PublicSans-ExtraBold.woff?v=2.001") format("woff");
}
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("FiraCode-Regular.woff2?v=6.2") format("woff2"), url("FiraCode-Regular.woff?v=6.2") format("woff");
}
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("FiraCode-Medium.woff2?v=6.2") format("woff2"), url("FiraCode-Medium.woff?v=6.2") format("woff");
}
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("FiraCode-SemiBold.woff2?v=6.2") format("woff2"), url("FiraCode-SemiBold.woff?v=6.2") format("woff");
}
